/* GLOBAL CSS */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: "Roboto", sans-serif;
  -moz-osx-font-smoothing: "Roboto", sans-serif;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
:root {
  --primary: #0C72C3;
  --heading-color: #282938;
  --bg-shade: #f5fcff;
  --github: #e62872;
  --darkblue: #1c1e53;
  --black: #000000;
  --white: #ffffff;
}
.btn {
  font-family: "Roboto";
  display: inline-block;
  padding: 14px 32px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}
.btn-outline-primary {
  color: var(--primary);
  background-color: var(--white);
  border: 1px solid var(--primary);
}
.btn-outline-primary:hover {
  color: var(--white);
  background-color: var(--primary);
}
.btn-primary {
  color: var(--white);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}
.btn-primary:hover {
  color: var(--primary);
  background-color: var(--white);
}
.btn-github {
  color: var(--white);
  background-color: var(--github);
  border: var(--github);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.95);
  gap: 16px;
}
.btn-github:hover {
  color: var(--github);
  background-color: var(--white);
}

/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 3px 3px gray;
  height: 70px;
  position: absolute;
  width: 100%;
}

.navbar--left {
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
  color: rgb(30, 30, 139);
  font-size: 23px;
}

.navbar--mid {
  display: flex;
  gap: 20px;
  
}

.navbar--mid > h6 {
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  color: rgb(30, 30, 139);
  font-weight:431;
}


.navbar--mid > h6:hover{
  color: #FED03D;
  
}

.link-nav {
  text-decoration: none;
}

.link-nav:hover {
  color: #FED03D;
  text-decoration: none;
}

.book {
  background-color: #FED03D;
  display: flex; /* Use flexbox */
  align-items: center; /* Center vertically */
  height: 60px;
  width: 110px;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  color: rgb(30, 30, 139);
  margin-right: 20px;
  width: 120px;
  justify-content: center;
  text-decoration: none;
}

.book:hover {
  background-color:  rgb(30, 30, 139);
  color: #FED03D;
}

.headerImg {
  margin-top: 70px;
  width: 100%;
  height: 600px;
  position: relative;
  opacity: 70%;
}

.headertext {
  position: absolute;
  top: 170px;
}

.headertext1 {
  position: absolute;
  top: 230px;
  color: #0C72C3;
  font-size: 95px;
  font-family: "Montserrat", sans-serif;
  left: 60px;
  font-weight: 500;

}

.headertext2 {
  position: absolute;
  top: 340px;
  color: #FED03D;
  font-size: 56px;
  font-family: "Montserrat", sans-serif;
  left: 80px;
  font-weight: 431;

}

.card-main {
  background-color: rgb(236, 236, 236);

  
}

.card {
  width: 600px;
  height: 200px;
  /* justify-content: center;
  align-items: center; */
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  /* box-shadow: 6px 6px 6px 6px gray; */
  /* text-align: center; */
  /* color: white; */
  position: relative;
  gap : 20px;
  margin-top: 80px;
  
}

.card::after {
  content: ''; /* Required for the pseudo-element */
  position: absolute;
  bottom: 0; /* Position the border at the bottom */
  left: 0;
  width: 100%; /* Make the border span the entire width of the card */
  height: 1px; /* Set the height of the border */
  background-color: rgb(197, 193, 193); /* Color of the border */

}

.card > h2 {
  font-size: 24px;
  color: #207AE8;
  font-weight: 400;
}

.card > p {
  margin-top: -10px;
  font-size: 18px;
  font-weight: 400;
}

.card-conatiner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* padding-right: 100px;
  padding-left: 100px; */
  gap: 30px;
}

.card-main-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  text-align: center;
  color:  #0C72C3;
  font-weight: 400;
  padding-top: 30px;
}


.Tools-main {
  margin-top: 50px;
  display: flex;
  gap : 25px;
  flex-wrap: wrap;
  width: 60%;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.tools-card {
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgb(248, 244, 244);
  box-shadow: 0 6px 6px 6px rgb(224, 217, 217);
}

.tools-card:hover {
  box-shadow: 0 0 6px 6px gray;
}


.tools-card >img {
  width: 60px;
  height: 60px;
}

.tools-card >h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

.Tools--heading {
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  text-align: center;
  color:  #0C72C3;
  font-weight: 400;
  
}

/* SERVICES SECTION */
.portfolio--section {
  display: flex;
  padding: 112px 85px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
}
.section--title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  color:  #0C72C3;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}
.services--section {
  display: flex;
  padding: 50px;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
  gap: 106.667px;
}

.services--section--heading {
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  color:  #0C72C3;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}

.services--section--heading--link {
  color:  #0C72C3;
  text-decoration: none;
}

.services--section--heading--link:hover {
  opacity: 70%;;
}
.services--section--container {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  gap: 52.6px;
  grid-template-columns: repeat(3, 1fr);
  margin-right: 50px;
  margin-left: 50px;
  
}
.services--section--card {
  display: flex;
  padding: 32px;
  margin-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
  /* border-radius: 10.6px; */
  background: #f5fcff;
  min-height: 250px;
}
/* .services--section--card:hover {
  border-bottom: 4px solid var(--primary);
} */
.services--section--card:hover .services--section--description {
  color: var(--darkblue);
}
.services--section--img {
  display: flex;
  padding: 13.3px;
  justify-content: center;
  align-items: center;
  gap: 13.3px;
  /* border-radius: 10.6px; */
  background: #fff;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
}
.services--section--card--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
  align-self: stretch;
}
.services--section--title {
  color: #0C72C3;
  font-size: 26px;
  font-weight: 700;
  line-height: 40px;
}
.services--section--description {
  color: var(--black);
  font-size: 18.3px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.Footer {
  display: flex;
  justify-content: space-between;
  height: 300px;
  background-color: #FED03D;
  margin-top: 50px;
  padding: 0 200px 0 200px;
  font-family: "Montserrat", sans-serif;
  color: rgb(223, 202, 13);
  background-color: #0C72C3;;
}

.Footer > div >ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  gap: 10px;
  margin-bottom: 10px;
}

.Footer > div >ul li{
  margin-bottom: 5px;
}

.Footer > div >h2 {
  padding-top: 50px;
}

.ReachUs {
  margin-top: 18px;

}

.mail-div {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  
}

.mail-div >h6 {

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  
}

.mail {
  width: 30px;
  height: 30px;
}

/* Services Page */
.servicesImg {
  margin-top: 70px;
  height: 530px;
  width: 100%;
}

/* Testimonial */
.portfolio--section {
  display: flex;
  padding: 112px 85px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
}
.portfolio--container-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.portfolio--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21.3px;
  margin-left: auto;
  margin-right: auto;
}
.portfolio--section--container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42.6px;
  width: 100%;
}
.sub--title {
  color: var(--heading-color);
  font-size: 16px;
  font-weight: 600;
  /* line-height: 24px; */
  text-align: center;
}
.testimonial--section {
  display: flex;
  padding: 112px 84.3px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  background-color: var(--bg-shade);
  margin-top: 50px;
}
.sections--heading {
  color: var(--primary);
  
}
.testimonial--section--card {
  display: flex;
  padding: 42.6px;
  flex-direction: column;
  align-items: flex-start;
  gap: 42.6px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1.33px solid #F7CA18;
}
.testimonial--section--card--reviews {
  display: flex;
  align-items: flex-start;
  gap: 5.33px;
}
.testimonial--section--card--author--detail {
  display: flex;
  align-items: center;
  gap: 21.3px;
}
.testimonial--author--name {
  font-weight: 600;
  color: var(--heading-color);
}
.testimonial--author--designation {
  color: var(--darkblue);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
/* Testimonial Ends */

/* Services Page */
.servicesImg {
  margin-top: 70px;
  height: 530px;
  width: 100%;
}
.servives-heading {
  color: #0C72C3;
  font-size: 95px;
  font-family: "Montserrat", sans-serif;
  left: 60px;
  font-weight: 500;
  text-align: center;
}
.sub--title {
  color: var(--heading-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.services-card {
  margin-top: 60px;
  display: flex;
  width: 60%;
  /* background-color: gray; */
  margin-left: auto;
  margin-right: auto;
  /* background-color: rgb(197, 193, 193);  */
  box-shadow: 0 6px 6px 6px rgb(212, 207, 207);
}
.services-img {
  width: 400px;
  height: 400px;
}

.services-card > div{
  padding-left: 30px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.service-card-conatiner {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}

.services-para {
  color: black;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.service-card-heading {
  color: #0C72C3;
  font-size: 27px;
  font-family: "Montserrat", sans-serif;
}

/* Booking Page */
.book-header-image {
  margin-top: 70px;
  width: 100%;
  height: 450px;
  position: relative;
}

.book-header-heading {
  position: absolute;
  top: 32%;
  text-align: center;
  display: flex;
  left: 40%;
  color: #0C72C3;
  font-size: 60px;
  font-weight: 300px;
  font-family: "Montserrat", sans-serif;
}

.book-card {
  margin-top: 30px;
  width: 800px;
  height: auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  border:1px dotted #0C72C3 ;
  margin-bottom: 30px;
}

.form {
  margin-top: 50px;
}

.services-checkbox >p {
  display: flex;
  padding-top: 10px;
  gap: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
}

.services-checkbox >div {
  display: flex;
  padding-top: 10px;
  gap: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.names {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px; 
}
/* CONTACT */
.text-lg {
  color: var(--darkblue);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.sub--title {
  color: var(--heading-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.contact--section {
  display: flex;
  padding: 65px 85px 150px 85px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 64px;
}
.contact--form--container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, auto);
  width: 40%;
  row-gap: 32px;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 32px;
  row-gap: 32px;
}
.contact--label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10.6px;
  flex: 1 0 0;
  width: 100%;
}
.contact--input {
  display: flex;
  font-family: "Roboto";
  padding: 16px;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  border: 1.333px solid var(--primary);
  background: var(--white);
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Some browsers will not display the caret when using calc, so we put the fallback first */
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.5303 21.2052C16.2374 21.4981 15.7626 21.4981 15.4697 21.2052L7.82318 13.5587C7.53029 13.2658 7.53029 12.791 7.82318 12.4981L8.17674 12.1445C8.46963 11.8516 8.9445 11.8516 9.2374 12.1445L16 18.9071L22.7626 12.1445C23.0555 11.8516 23.5303 11.8516 23.8232 12.1445L24.1768 12.4981C24.4697 12.791 24.4697 13.2658 24.1768 13.5587L16.5303 21.2052Z" fill="%23033333"/></svg>')
    white no-repeat 98.5% !important; /* !important used for overriding all other customisations */
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.5303 21.2052C16.2374 21.4981 15.7626 21.4981 15.4697 21.2052L7.82318 13.5587C7.53029 13.2658 7.53029 12.791 7.82318 12.4981L8.17674 12.1445C8.46963 11.8516 8.9445 11.8516 9.2374 12.1445L16 18.9071L22.7626 12.1445C23.0555 11.8516 23.5303 11.8516 23.8232 12.1445L24.1768 12.4981C24.4697 12.791 24.4697 13.2658 24.1768 13.5587L16.5303 21.2052Z" fill="%23033333"/></svg>')
    white no-repeat calc(100% - 20px); /* Better placement regardless of input width */
}
/*For IE*/
select::-ms-expand {
  display: none;
}
.checkbox--label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10.6px;
  flex: 1 0 0;
  justify-content: flex-start;
}
input[type="checkbox"] {
  width: 21px;
  height: 21px;
  border: 0.15em solid var(--heading-color);
  border-radius: 0.15em;
  transform: translatey(-0.075em);
}
/* Contact End */

